body {
  background-image: url("../resources/bg-blossom.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6a54b1a5;

  font-size: 22px;
  color: white;
  text-align: center;
  font-size: 16px;
  height: 35vh;
  font-family: arial;
  line-height: 40px;
  margin-bottom: 9vh;
}
.hero h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Play Fair", georgia, serif;
  font-weight: 200;
  margin-bottom: 30px;
}

/* class h1 */
.h1 {
  text-align: center;
  color: #5c4a99;
  font-size: 40px;
  font-family: "Play Fair", georgia, serif;
  font-weight: 200;
  margin-top: 7%;
  margin-top: 0px;
}
/* PROCESS */
.Adoptation_process {
  text-align: center;
}

.process_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
}
.process_card {
  /* background-color: #fee3eb; */
  background-color: #fceef5;
  color: #5c5470;
  width: 180px;
  height: 180px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 150px;
  border: 1px solid rgb(255, 0, 179);
  box-shadow: 1px 2px 4px 4px rgb(249, 191, 232);
}
.process_card:hover {
  transition: 0.5s;
  transform: translateY(-5px);
  box-shadow: 2px 3px 4px 4px rgb(247, 165, 250);
}
.process_card h2 {
  font-family: "Play Fair", georgia, serif;
  color: #5c4a99;
  font-weight: 200;
}

.process_card p {
  font-family: Arial;
  font-size: 0.9rem;
}
.arrow_card {
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(135, 117, 145);
  font-size: 50px;
}

/* Mission */
.mission {
  justify-content: center;
  margin: 5% 5%;
  display: flex;
  height: 38vh;
}

.mission_card {
  box-shadow: 1px 2px 4px 4px rgb(249, 191, 232);
  border: 1px solid rgb(255, 0, 179);
  background-color: #fceef5;
  padding: 2% 5%;
  border-radius: 10px;
  width: 65vw;
  color: rgb(88, 64, 243);
  font-family: Arial;
  color: #5c5470;
  font-size: 18px;
}


.mission_card:hover {
  transition: 0.5s;
  transform: translateY(-5px);
  box-shadow: 2px 3px 4px 4px rgb(247, 165, 250);
}

#Query_card {
  width: 50vw;
}
/* BUTTONS */
.btn {
  text-align: center;
  
  height: 45px;
  border-radius: 5px;
  border: none;
  /* background-color: #fb72d0; */
  background-color: #b97aa5;
  color: white;
  font-size: 15px;
  width: 300px;
}
.btn:hover {
  background-color: #9c5084;
}
