.logo_name {
  display: flex; 
}

.logo {
  margin: 5px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.big {
  font-size: 20px;
  font-family: "Play Fair", Georgia, serif;
  line-height: 10px;
}
.small {
  font-size: 10px;
  line-height: 0px;
}
/* **************************************************** */
.footer{
    text-align: center;
    background-color: #5e548e;
    color: white;
    padding: 5px 50px 5px 50px;
    width: 100vw;

}
.footer_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
}
.footer_card {
  display: flex;
 
  flex-direction: column;
  text-align: left;
  padding: 25px;
  font-size: 12px;
  font-family: Arial;
  line-height: 20px;
}
.footer_card h2 {
  font-family: "Play Fair", Georgia, serif;
}
.footer_card a {
  text-decoration: none;
  color: white;
}